# User Roles
SUPER_ADMIN_ROLE=SUPER_ADMIN
ADMIN_ROLE=ADMIN

# JWT Configuration
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256

# Database Configuration
MYSQL_USER=your-mysql-user
MYSQL_PASSWORD=your-mysql-password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=payroll_management

# Frontend URL
FRONTEND_URL=http://localhost:5173

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password